---



---


	<div class="relative inline-block text-left group">
  <button type="button" class="inline-flex justify-center w-full  py-2  text-md font-medium  focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 items-center" aria-haspopup="true" aria-expanded="false">
    <a href="" class="hover:text-purple-500">Dropdown</a>
    
    <!-- Heroicon name: solid/chevron-down -->
    <svg class="-mr-1 ml-2 h-5 w-5 group-hover:rotate-180 transition-transform" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
      <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 011.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
    </svg>
  </button>
  <div style="background: linear-gradient(82deg, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 45%, rgba(255,255,255,1) 55%);" class="invisible opacity-0  absolute z-50 bg-white  rounded-md shadow-lg py-1 mt-1 group-hover:opacity-100 group-hover:visible transition-all duration-300 grid grid-cols-2  h-auto min-w-max  ">
    <a href="#" class="block px-4 py-2 text-sm group/item max-w-[200px]  ">
    <h1 class="group-hover/item:text-purple-500 font-medium ">Link 1</h1>
    <p class="font-light" >Lorem ipsum is go and i will i always like fffff fd d dfdf dfssd  asksajj saijasj asiajsijsa aisijai sasijsaij ciaiji</p>
    </a>
    
    
  </div>
</div>