---
import Logo from "./Logo.astro";
import CartIcon from "./CartIcon.svelte";
import Dropdown from "./Dropdown.astro";
---

<header class="sticky top-0 z-40">
  <nav class="flex  relative mx-auto max-w-[1200px] px-6" >
    <!-- <nav class="container grid grid-cols-3 items-center">
      <a href="/">
        <span class="sr-only">Logo</span>
        <Logo />
      </a>
      <h1
        class="flex justify-center text-sm font-semibold text-gray-900 sm:text-xl"
      >
        Astro 🧑‍🚀 Shopify
      </h1>
			
      <div class="justify-self-end">
        <CartIcon client:load />
      </div>
    </nav> -->
    
		<Dropdown />

 <button class="ml-auto lg:hidden" id="menu-toggle">
          <svg
            
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-10 h-10"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            />
          </svg>
        </button>

<!-- overlay nav -->

<div>

 
</div>
  </nav>
  <div aria-hidden="true" class="overlay absolute z-40 bg-main lg:hidden ">
        <div class="parent">
          <button class="accordion">
            <span class="text-md font-medium">Section 1 </span>
            <span class="chevron">
              <svg
                width="20px"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 011.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                /></svg
            ></span>
          </button>
          <div class="panel   transition-all duration-300  grid-cols-2">
            <a href="#" class="block  py-2 text-sm group/item max-w-[200px]  ">
               <h1 class="group-hover/item:text-purple-500 font-medium ">Link 1</h1>
               <p class="font-light" >Lorem ipsum is go and i will i always like fffff fd d dfdf dfssd  asksajj saijasj asiajsijsa aisijai sasijsaij ciaiji</p>
             </a>
            <a href="#" class="block  py-2 text-sm group/item max-w-[200px]  ">
               <h1 class="group-hover/item:text-purple-500 font-medium ">Link 1</h1>
               <p class="font-light" >Lorem ipsum is go and i will i always like fffff fd d dfdf dfssd  asksajj saijasj asiajsijsa aisijai sasijsaij ciaiji</p>
             </a>
          </div>
        
        </div>
      </div>
</header>
<style>
.menu-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 50;
  }
  .overlay {
    width: 100%;
    visibility: hidden;
    display: none;
    transition: all 0.3s ease-out;
    transition: left 3s ease-out;
  }
  .show {
    display: block;

    visibility: visible;
  }
  .accordion {
    padding: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    cursor: pointer;

    width: 100%;

    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
  }

  .panel {
    padding: 0;
    display: none;
   
    opacity:0;
    
    overflow: hidden;
    
   
    
  }
  button.accordion.active + .panel {
    
    
    opacity:1;
    display:grid;
  }
  button.accordion svg {
    transition: transform 0.3s linear;
  }
  button.accordion.active svg {
    transform: rotate(180deg);
  }
</style>
<script>
  const menuToggle = document.querySelector("#menu-toggle");
  const overlay = document.querySelector(".overlay");
  menuToggle.addEventListener("click", (e) => {
    overlay.classList.toggle("show");
  });
  const acc = document.getElementsByClassName("accordion");
  let i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      // if (panel.style.height === "auto") {
      //   panel.style.height = "0";
      // } else {
      //   panel.style.height = "auto";
      // }
    });
  }
</script>